[2019-07-04 11:46] sc250024 opened #7 "Wildcard for all namespaces?"
Greetings,

I was wondering for the `cert-manager` plugin if it's possible to do something like this:

[code]

Specifically, does the `reflector.v1.k8s.emberstack.com/secret-reflection-allowed-namespaces` annotation support the `*` wildcard for **all** namespaces?

Thank you!

[2019-07-04 11:49] sc250024 commented on #7
Nevermind, just found the comment here https://github.com/EmberStack/ES.Kubernetes.Reflector/tree/master#1-annotate-the-source-secret-or-configmap that omitting the annotation defaults to all namespaces.

[2019-07-04 11:49] #7 closed

[2019-07-04 12:02] sc250024 opened #8 "[cert-manager] Automatic creation of target secrets"
Greetings,

I'm using the `cert-manager` extension based on the instructions here: https://github.com/EmberStack/ES.Kubernetes.Reflector#optional-cert-manager-extension.

However, I'm a bit confused: does the `reflector` automatically create the mirrored secrets in the other namespaces? Or are you supposed to create a 'dummy' secret in the other namespace with the correct annotation, and only then

[2019-07-04 17:17] winromulus commented on #8
Hi @sc250024

The cert-manager extension allows you to annotate the secret created by cert-manager for a particular certificate (let's call this the `source`  secret). This prepares the source secret for reflection to possible targets.
In other namespaces you need to create `target` secrets which reflect the `source`.
Reflector will not create the target secrets for you, it will just annotate the

[2019-07-04 17:24] sc250024 commented on #8
@winromulus Thanks for the feedback. So if `cert-manager` is creating a TLS secret in the `cert-manager` namespace, and I want that certificate to be reflected into every other namespace in my cluster, how would I do that?

[2019-07-04 17:42] winromulus commented on #8
@sc250024 Yes, in the current version, that's the only option.
I'm working on an improved version tonight so I might add something like this. Something like autogenerated targets.
Need to figure out how to annotate the source to define this.
Let me know your thoughts on the following:
- Possible annotations for the source
- How to define each `clone`. Should it have the same name as the source sec

[2019-07-05 07:49] sc250024 commented on #8
@winromulus Thanks for the quick response again! Basically, I think the reflector app is well structured already, I was just surprised it didn't go the step further of creating the secret. Regarding your points:

* I think the source annotations are fine as they are. The `reflector.v1.k8s.emberstack.com/secret-reflection-allowed` annotation for me already implies that it's a source.

* The clone s

[2019-07-10 19:32] winromulus commented on #8
@sc250024 - Feature complete and released. It took longer than I expected and the testing was complex, but I got there in the end,
See the updated docs and let me know if you have issues deploying it.
If this helped you, would appreciate a repo star and follow :)

[2019-07-11 07:23] sc250024 commented on #8
Wicked awesome @winromulus , thank you sir! I'll test it out right now.

[2019-07-12 11:24] winromulus commented on #8
@sc250024 How's the testing going? I have this running in multiple clusters and no hiccups so far

[2019-07-12 14:04] winromulus commented on #8
Closing issue as the feature has been merged and confirmed as functional. If there are any other issues with it, we'll open a new one.

[2019-07-12 14:04] #8 closed

[2019-07-12 17:44] winromulus opened #14 "[bug] Remove reflections from in-memory maps when a namespace is deleted."
When a namespace is deleted, remove all mirrors from that namespace from the in-memory maps.
This prevents attempts to reflect to mirrors that do not exist anymore.

[2019-07-12 19:02] #14 closed

[2019-07-16 15:56] tethryus opened #16 "Improve logging timestamp"
No date shown while accessing the logs.

[2019-07-16 16:10] #16 closed

[2019-08-08 15:12] sc250024 commented on #8
@winromulus So sorry, I got caught up. I tried installing the Helm chart (version **2.19197.5**) with the following values:

[code]

And from the logs of the pod, I get the following logs looping quite fast over each one of my `Certificate` objects:

[code]

Here's an example of one of my `Certificate` objects:

[code]

I'm guessing it doesn't like the `*` wildcard?

[2019-08-08 15:49] winromulus commented on #8
@sc250024 yes. Leave them empty to allow all namespaces. The reason I avoided using "*" is because it is an invalid regex and also it caused backwards compatibility issues. Leave those annotations empty or remove them.

[2019-08-09 08:27] sc250024 commented on #8
@winromulus Got it. I tried it out just now, worked like a charm!

Here's a created secret in the `default` namespace:

[code]

Thank you for your hard work!

[2020-03-10 09:10] sc250024 opened #21 "OperationCanceledException after long running"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

I've found that the reflector works great for around 99% of the time. However, I have noticed that after running for a while, I run into the following exception in the pod logs:

[code

[2020-03-10 18:01] winromulus commented on #21
@sc250024 I'll investigate this, just need a way to try to reproduce it (quickly).
I think it's due to the health checks that run periodically being cancelled.

[2020-03-10 18:26] sc250024 commented on #21
@winromulus Thank you! Let me know how I can help.

[2020-03-13 12:42] sc250024 opened #22 "Support cert-manager v1alpha3 CRD"
* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request

# Description

JetStack released [v0.14.0](https://github.com/jetstack/cert-manager/releases/tag/v0.14.0) of their CertManager today, which comes with a new version of their CRD. Opening this issue for any changes that have been implemented.

Here's a diff of the CRD between `v0.13.0` and `v0.14.0`: [htt

[2020-03-14 09:22] winromulus commented on #22
@sc250024 Adding to work list for today.

[2020-03-14 20:46] winromulus commented on #22
@sc250024 - Release 4.1.9 should add support for this, among other things.
As a note, in cert-manager 0.14.0 they still use `v1alpha2`. My understand is that they're preparing the migration webhook to support multiple versions. I upgraded my clusters to v0.14.0 and the CRD definition still shows as v1alpha2.
Use 4.1.9 as it has been tested with 0.14.0.

[2020-03-14 20:46] #22 closed

[2020-03-14 20:48] winromulus commented on #21
Hi @sc250024
Please test v4.1.9. I think the health probes were fixed but I cannot reproduce the original issue either way.
If this continues to be a problem, please reopen this issue and I'll send you a Slack invite so we can debug together (and maybe share more logs privately).
I would love to say that this was definitely fixed, but I can only wait to see if this is still an issue.

[2020-03-14 20:48] #21 closed

[2020-03-15 09:51] sc250024 commented on #21
@winromulus Deployed v4.1.9, and turned on debug logging. In case this occurs again, I'll hopefully have more information. Thank you very much!

[2020-03-15 09:51] sc250024 commented on #22
@winromulus Deployed v4.1.9. Thank you very much!

[2020-03-24 14:00] lareeth opened #28 "Not replicating certficiate"
I have deployed the reflector and added the annotations to my certificate as per the documentation, but I'm not seeing anything in the logs for the application. Even when trying to put `reflector.v1.k8s.emberstack.com/secret-reflection-allowed-namespaces: "*"` to break the replication, nothing happens.

Any ideas?

Kubernetes: `1.17.3`
Reflector: `4.1.12`
Cert Manager: `0.10.1`

Reflector output i

[2020-03-24 14:16] winromulus commented on #28
Hi @lareeth
The issue is with the cert-manager version. As specified in the specs, the newer versions of replicator work with cert-manager 0.11.0 and above.
The reason for this is that they changed the annotations which are now `cert-manager.io`.
My suggestion is to upgrade cert-manager (not to downgrade reflector).
If you really must use that older version of cert-manager, you'll need to use refl

[2020-03-24 14:17] lareeth commented on #28
Yeah we realised that, just upgrading to 0.14!

[2020-03-24 14:17] #28 closed

[2020-03-24 14:18] winromulus commented on #28
@lareeth let me know if you still need help with something or if everything is OK after upgrading.

[2020-03-24 14:58] lareeth commented on #28
Worked perfectly. Turns out if you read the docs it works 😁

[2020-03-24 15:00] winromulus commented on #28
Glad it worked out!

[2020-03-31 14:59] aspring opened #29 "[Question] Supporting older K8s versions and `apiextensions`"
Currently running on the latest EKS in Amazon (1.15) which is 1 version before the release of `apiextensions.k8s.io/v1`.  Is there a possibility of adding support for `apiextensions.k8s.io/v1beta1` until EKS is able to release its support for 1.16?

[2020-03-31 19:51] winromulus commented on #29
Hi,
Okay there are quite a bit of questions regarding your setup but:
- If you have `cert-manager` version `0.11.0` and above, please try the latest release of reflector. It should work (pick up both v1beta1 and v1 of apiextensions. Untested but if memory serves right, it should work.
- If you have `cert-manager` version older than `0.11.0`  try `v2.19193.2` of reflector or older versions. That's

[2020-04-01 02:47] aspring commented on #29
Currently running `cert-manager 0.14.1` and `reflector 4.1.12` and upon startup reflector is logging the following:

[code]
Ive annotated existing and new certs with the following:
[code]

The certificates are issued by cert-manager and the secrets for them properly hydrated, however, the reflector annotations are not present in the resulting secret nor are the mirror secrets created.

[2020-04-01 06:18] winromulus commented on #29
Can you uninstall reflector and install version `v2.19193.2` please and try it again?
(also include logs please)

[2020-04-01 14:27] aspring commented on #29
Ive uninstalled and installed with that version and got the output below.  Also, as a sanity check Ive added a regular Secret with annotations which does work and is reflected properly which is referenced in the output.

[code]

[2020-04-01 15:28] winromulus commented on #29
@aspring problem is that cert-manager had a different CRD namespace in that version (they moved to cert-manager.io later).
I'll try to reproduce the issue.
Please confirm the following as a target:
Kubernetes version: 1.15
Reflector: 4.1.12
Cert-Manager: 0.14.1

Once you confirm, I'll create a test cluster somewhere (probably Azure) and install them and see if I can support the older version.

[2020-04-01 15:40] aspring commented on #29
I can confirm those are the versions.

[2020-04-05 08:54] winromulus commented on #29
@aspring Confirmed the issue. Working on a possible fix.
I'm going to create a Slack organization and send you an invite link to debug once I have a solution to this.

[2020-04-05 09:06] winromulus commented on #29
@aspring please join our Slack so we can debug further:
https://join.slack.com/t/emberstack/shared_invite/zt-8qyutopg-9ghwTq3OnHSm2tY9Sk5ULA

[2020-04-06 12:06] sc250024 commented on #29
@winromulus @aspring Having the same issue. Let me know if you need help.

[2020-04-06 12:24] winromulus commented on #29
@sc250024 join our Slack please (link above) for debugging
currently working on trying to support this

[2020-04-07 08:13] #29 closed

[2020-04-14 13:47] ajchiarello opened #31 "[Enhancement] Add securityContext to helm chart"
Can you add a block to the deployment template that would allow us to set the securityContext settings when installing the helm chart? Could look something like this:

    {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
    {{- end }}

[2020-04-15 13:22] winromulus commented on #31
Hi @ajchiarello I've assigned this enhancement to myself. I don't have enough spare cycles to tackle this now, but if you have time your can submit a PR for it.

[2020-04-15 16:49] ajchiarello commented on #31
@winromulus I had time :)

[2020-04-16 07:34] winromulus commented on #31
PR merged! Thank you for your contribution to this, very much appreciated!

[2020-04-16 07:34] #31 closed

[2020-04-21 22:07] sfynx opened #33 "[bug] Kubectl manifests refer to the wrong application version"
I noticed that the `reflector.yaml` files always refer to `release-0.1.0` inside, no matter which release on GitHub they are bundled with. Is it intended that you need to change these yourself if you are not using the Helm chart?

[2020-04-22 11:42] winromulus commented on #33
Hi,

No, that is a bug. Thanks for spotting it.

[2020-04-22 22:24] sfynx opened #34 "[Ehancement] Restrict cluster role to strictly needed permissions"
The operator currently has these permissions inside the cluster:
[code]
I think we should be able to cut these down, also the verbs (although less strict than a project like mittwald/kubernetes-replicator as we also create and delete our replicated resources).

[2020-04-27 12:22] ajchiarello opened #36 "Container runs as root"
So, best practice is to create a non-root account that has only the permissions that the application requires, and then not allow the deployment to run containers with a root account - can this container be updated to not run as root internally?

[2020-05-01 13:38] k0dep opened #38 "Attempted to replicate a resource to terminated namespace"
if namespace is in Terminated status, reflector still process resources for this namespace.
When it happens, reflector make restart watches and come to infinity loop with errors.

[2020-05-01 13:56] winromulus commented on #38
@k0dep can you provide me a small sample of the logs please?
The replication needs to warn in that scenario and skip the namespace.
If you want you can join our slack (link in README) and you can share those privately.
To be procise:
- I need the first exception that occurs from the logs

[2020-05-02 14:19] #36 closed

[2020-05-02 14:25] winromulus commented on #34
@sfynx - fixed in 5.0.x version. I could not update your PR but it required both `watch` and `list`
Thank you for raising this and your contribution.

[2020-05-02 14:26] #34 closed

[2020-05-02 14:26] winromulus commented on #36
@ajchiarello - The container now runs by default as non-root (as of version 5.0.x)

[2020-05-02 14:28] winromulus commented on #33
@sfynx - This was fixed in version 5.0.x It should now use the correct application version

[2020-05-02 14:28] #33 closed

[2020-05-14 21:15] dbpolito opened #40 "Secret with binaryData"
I'm trying to sync a `registry cred` secret across namespaces, looking at here https://github.com/emberstack/kubernetes-reflector#3-done it seems it do not sync secret with `dataBinary` by design, is there any reason for it?

My secret:

[code]

Am i doing something wrong? I got reflector working on my cluster for certificates with these annotations and logs looks ok.

[2020-05-15 20:37] dbpolito commented on #40
Nevermind, everything is working great, what i did wront was using `reflection-allowed` annotation from the cert-manager extension instead, change the first two annotations to the right ones fixed the problem.

[2020-05-15 20:37] #40 closed

[2020-05-19 10:13] mukulgit123 opened #41 "Reflector giving customer resource definition related error on EKS 1.15"
## When I deploy reflector, it gives below error when I deploy it on my cluster which I created using Terraform. I really would like to use this. Any help or hints given are much appreciated.

`2020-05-19 09:28:29.676 +00:00 [INF] (ES.Kubernetes.Reflector.Host.Program) Starting host
2020-05-19 09:28:30.475 +00:00 [WRN] (ES.Kubernetes.Reflector.CertManager.Monitor) Current kubernetes version does n

[2020-05-20 12:05] winromulus commented on #41
Hi @mukulgit123,
Reflector should work even without support for it. You can ignore that warning.
Are you planning to use it with cert-manager?

[2020-05-20 17:29] mukulgit123 commented on #41
@winromulus Thanks for your response. I am not planning to use it with cert-manager as of now.

I tested it for one of the secrets on my dynamically created cluster and it worked fine.

Earlier I had tested for configmap which didn't seem to work. I will test it again for configmap and will let you know. I Will close this issue once I test for configmap.

Thanks!!

[2020-06-16 12:40] winromulus commented on #41
I'm assuming this issue is no longer a problem.
If you continue to encounter issues, please reopen.

[2020-06-16 12:40] #41 closed

[2020-06-16 12:41] winromulus commented on #38
I assume this issue is no longer a problem and am closing the issue.
Feel free to reopen if needed.

[2020-06-16 12:41] #38 closed

[2020-06-25 14:57] whyvez opened #44 "Target autocreation"
I just started using `kubernetes-reflector` and I was expecting target resources to get automatically populated with their source values (i.e. secret data) when they are created but it didn't.

**Source:**
[code]

**Target:**
[code]

I first create the source secret and then the target secret. I would expect that as soon as I create the target secret for the values form the source to get copied ov

[2020-06-25 20:01] winromulus commented on #44
@whyvez can you share the reflector logs please?

[2020-06-25 20:14] whyvez commented on #44
I had a look at the logs and figured out my problem.

I updated my sources to be like:

[code]

Looks like both namespace list annotations don't accept wildcard (*).

Thank you!

[2020-06-25 20:33] winromulus commented on #44
Ah, correct. Didn't spot that. The list accepts regex patterns.
Closing the issue since this is resolved. I'm very glad this is resolved.

[2020-06-25 20:33] #44 closed

[2020-07-08 15:44] whyvez opened #57 "V1Secret watcher Faulted"
Reflector stopped working recently and not sure why.

K8s version: v1.16.9-gke.6
Reflector version: helm.sh/chart=reflector-5.1.7

Here are the logs:

[code]

[2020-07-08 15:51] winromulus commented on #57
@whyvez - This can sometimes happen when the API token expires before it gets renewed. Reflector should have been restarted after. Can you check if it's running now? Otherwise please poke me on Slack (link in Readme) and we can debug together.

[2020-07-08 16:32] whyvez commented on #57
@winromulus  Re-ran kubectl install and everything stabilized. 🙏

[code]

[2020-07-08 16:32] #57 closed

[2020-07-22 09:05] radarnex opened #63 "[Investigation] Possible memory leak"
We use Reflector for the cert-manager secret replication feature. We suspect there is a memory leak because of the memory usage pattern. It happens on clusters with a few namespaces and others with hundreds.

K8s version: 1.16 (but it happend to us also in 1.15)
Reflector version: 5.0.10

![reflector mem usage](https://user-images.githubusercontent.com/15276213/88157712-689c4600-cc0b-11ea-8f66-c1c

[2020-07-22 09:29] winromulus commented on #63
Hi @radarnex
Can you tell me more about the environments please?
I.e. How many namespaces, how many secrets, how many namespace changes (create/delete).
Memory is used by the reflector when a namespace or secret changes (since it needs to re-index everything).

[2020-07-22 11:04] radarnex commented on #63
Hi @winromulus

We have two kinds of clusters:
- Normal density clusters: 10 namespaces, 2-3 secrets to replicate, no namespace changes after setup
- Heavy density clusters: 150-200 namespaces, 2-3 secrets to replicate, frequent namespaces changes (1-3 changes per hour)

The screenshot of the issue is from a normal cluster. Memory usage patterns on normal and heavy seems more or less the same.

BT

[2020-07-23 21:45] winromulus commented on #63
@radarnex I'm still investigating this but it takes a long time to get some results. My suspicions are centered around the healtch checks or sporadic disconnects from the API server.

[2020-07-27 13:53] winromulus commented on #63
@radarnex - please try version 5.2.2 and let me know if the issue improves.

[2020-07-27 15:22] radarnex commented on #63
@winromulus Thank you, we'll give it a shot. BTW, since we upgraded to `5.1.43` the memory usage pattern seems much better in all clusters. The only relevant change I see is a `kubernetes-client` bump [on this commit](https://github.com/emberstack/kubernetes-reflector/commit/e865553cde83e41bd78c73201c16cae5ecd8600b).

![reflector mem usage after upgrade](https://user-images.githubusercontent.com/1

[2020-07-30 18:40] ajchiarello opened #66 "container crashing"
Since updating the latest helm chart, my reflector container has been continually restarting with this error:

Not sure what changed - can you advise?

[2020-07-31 14:38] winromulus commented on #66
Do you use cert-manager?
Also what version of reflector and kubernetes do you have?

[2020-07-31 14:44] ajchiarello commented on #66
I do use cert-manager, although I'm not reflecting any certificates at the moment. I'm running kubernetes 1.18.6, and reflector 5.2.5.

[2020-07-31 14:44] winromulus commented on #66
@ajchiarello can you share the reflector logs please?

[2020-07-31 14:47] ajchiarello commented on #66
Sure:

2020-07-31 14:41:16.636 +00:00 [INF] (ES.Kubernetes.Reflector.CertManager.Monitor) V1CustomResourceDefinition Certificate in group cert-manager.io versions updated to ["v1alpha2", "v1alpha3", "v1beta1"]
2020-07-31 14:42:56.736 +00:00 [ERR] (ES.Kubernetes.Reflector.CertManager.Monitor) Certificate watcher v1alpha2 Faulted
System.Threading.Tasks.TaskCanceledException: The operation was cancel

[2020-08-01 22:52] winromulus commented on #66
@ajchiarello seems something fails on the watchers for cert-manager.  What version of cert-manager are you using?

[2020-08-03 14:42] ajchiarello commented on #66
@winromulus cert-manager v0.16.0

[2020-08-03 20:25] winromulus commented on #63
@radarnex do you see an improvement?

[2020-08-03 23:16] winromulus commented on #66
@ajchiarello the problem seems to be the API integration of cert-manager. Basically for all other versions prior to 0.16.0 everything works fine (tested on 6 different clusters). With that version something was broken (even the certificate updates between versions seems broken). My suggestion is to revert to a previous more stable version of cert-manager (we're using 0.15.1 which works fine) and g

[2020-08-04 12:53] dex4er opened #68 "[Enhancement] Reflector for Istio Gateway objects"
Hi. I use Istio 1.6.5 in my cluster and I noticed that copying Cerificate objects to istio-system namespace is not enough for correct configuration. I need to copy additional Gateway object and it makes perfect sense: the gateway points to the certificate and its secret so it should be in istio-system namespace too.

Would it be possible to add the support for Gateway to Reflector?

Currently I ha

[2020-08-04 13:12] winromulus commented on #68
@dex4er I haven't used Istio before. Can you provide more details for the behavior?

[2020-08-04 13:27] dex4er commented on #68
This is the description of the Gateway object: https://istio.io/latest/docs/reference/config/networking/gateway/

In practice: the Gateway and the Secret with TLS certificate (so Certificate too) should be in istio-system namespace where istio-ingressgateway service is started.

Gateway + VirtualService objects are alternative to the Ingress object for Istio. Actually you can convert Ingress to Ga

[2020-08-04 13:32] dex4er commented on #68
And cite from Gateway specification:

"In other words, the Gateway resource must reside in the same namespace as the gateway workload instance."

So if workload for Gateway resides in istio-system then I would need to create Gateway object there.

[2020-08-04 17:37] ajchiarello commented on #66
@winromulus  - Can you give me more details? I would like to open up an issue with the cert-manager developers.

[2020-08-04 18:14] winromulus commented on #66
@ajchiarello - I would very much like to do so but from what I can see there's a problem with retrieving the list of certificates based on version. I'm not sure if there is some mutation that needs to happen to retrieve them or what is going on without digging into cert-manager. Everything works fine  with reflector and raw kube API calls up to and including version 0.15.2. After that, on all clus

[2020-08-06 09:15] ajchiarello commented on #66
@winromulus - I downgraded my installation of cert-manager to 0.15.2, and I'm still seeing the same errors.

[2020-08-06 10:52] winromulus commented on #66
@ajchiarello make sure you remove all traces from cert-manager (installed CRDs from 0.16.0)
After, if there is still an issue, please post the reflector logs

[2020-08-11 08:57] winromulus commented on #68
@dex4er I'm still looking into this. The amount of effort is significant (especially since I've never used Istio). I'll keep it as a long-term goal.

[2020-08-19 18:05] dhananjaya-senanayake opened #76 "Reflector pod restart count is really high in AKS"
Error Log
[code]
Pod restart count
`reflector-7f9875dbfd-9n4dk                   1/1     Running   101        7d15h`

version
`5.0.10`

AKS Version
v1.16.13

[2020-08-24 10:35] #63 closed

[2020-08-25 09:17] yalctay93 opened #77 "kubernetes-reflector stops reflecting secrets"
Kubernetes reflector stops working (without failing) after a while. When stopped, it will not copy secrets anymore.
Immediate fix is to restart reflector and redeploy the mirror-secret (empty secret).
We couldn't find any logs that would help us to narrow down the issue.

The only logs that we can find are the following:
[code]

These repeat endlessly, while the reflector does not seem to react to

[2020-08-25 13:53] winromulus commented on #77
Hi @yalctay93 - can you provide a bit more details: k8s version, reflector version, how often does this happen and are you on a hosted k8s platform (AKS, GKE etc).
We're seeing the same issue on one cluster and we're trying to fix.

[2020-08-25 14:13] yalctay93 commented on #77
Hey! Thanks for answering so quickly. Of course I'll provide some more info:

- K8s Version 1.16.9
- Issue detected on both reflector version 5.1.43 & version 5.2.11
- Happens constantly, I'd say at least 5-10 times a day. We only see it not working when we do deployments, so might be not working the entire day until we notice our applications throwing errors due to missing secrets.
- We are on a

[2020-08-25 15:53] winromulus commented on #77
Same for us, on AKS. Current issue seems to be that it stops getting updates from the API server regarding secret and namespace changes.
Can you tell me if you use helm? We're considering an improvement to skip helm secrets due to the volume of API calls needed. Right now we're looking at helm being the potential cause for this.

[2020-08-25 17:00] winromulus commented on #77
Also can you provide some metrics like number of namespaces, number of secrets and how often do you modify secrets/namespaces (especially namespace deletion).

[2020-08-26 06:30] yalctay93 commented on #77
Do you mean helm to deploy the kubernetes-reflector, or the mirror secrets?
We use helm for both the kubernetes-reflector and for the mirror secrets.

[2020-08-26 07:18] yalctay93 commented on #77
Total number of namespaces: 54
Total number of secrets in the cluster: 908 (mostly helm release secrets..)
Number of secrets handled by the kubernetes-reflector: 12

We barely modify namespaces, they usually are not changed much. Also we do not delete namespaces, that happens very rarely.
However, secrets are deployed/changed more often. Usually the mirror-secret is overwritten by an empty mirror-

[2020-08-26 08:00] winromulus commented on #77
@yalctay93 - please try version 5.3.1 (latest). I did some fixes yesterday:
- lowered timeouts to 30 minutes for watchers
- skipping helm secrets by default

I'm monitoring it on a cluster and seems to be active for the past 18 hours without any restarts and is still getting secret/namespace change propagation.

[2020-08-26 08:01] winromulus commented on #76
@dhananjaya-senanayake - please try version 5.3.1 (latest)
I made some changes which should reduce the amount of restarts and improve stability on AKS

[2020-08-26 08:03] yalctay93 commented on #77
Hi, what exaclty does "skipping helm secrets" mean? Do you mean the helm release secrets? The mirror-secrets are deployed by helm, it'd be bad if those are skipped

[2020-08-26 16:19] lukasmrtvy opened #78 "(feat): Prometheus monitoring"
Would be nice to have metrics endpoint for prometheus monitoring.

Use case:
- number of secrets handled by the kubernetes-reflector
- number of reflected secrets

Related: https://github.com/emberstack/kubernetes-reflector/issues/77

Thanks

[2020-08-26 16:30] winromulus commented on #77
@yalctay93 - yes, helm release secrets.

[2020-08-27 00:38] #68 closed

[2020-08-27 08:50] yalctay93 commented on #77
Hello, we are now using the kubernetes-reflector verson 5.3.1 and it the past 24 hours it has never stopped working. It seems like it is now copying secrets successfully whenever there are any changes done to the mirror-secrets.

Thank you! Could you please tell me why exactly the reflector was failing before? Did it hang when trying to manage the helm release secrets or did it just take too long

[2020-08-27 13:00] winromulus commented on #77
@yalctay93 - seems AKS has a rate limiter or something on the master nodes. Also after a while (less than one hour), although the connection is still open, no updates are sent to streams. The new version of reflector keeps a max 30 minutes connection before it restarts it. Also removing the helm secrets keeps the number of operations to a minimum.

[2020-08-27 13:00] winromulus commented on #77
Keeping this issue open for further improvements and monitoring.

[2020-08-27 20:48] snuggie12 commented on #77
I think I am experiencing this as well though my situation is slightly different.

k8s version: v1.15.12-gke.9 (gke on gcp)
reflector version: 5.1.7
total secrets: 476
total namespaces: 39
total reflected secrets (to all namespaces): 1
total unique secrets: 438 (476 - (38 * 1)) # Think I did that correctly

We do not use helm directly at all (argocd runs `helm template ....` before submitting reso

[2020-08-28 09:21] winromulus commented on #77
@snuggie12 - Yes, please upgrade. That error you have is due to a health check that took too long and was canceled.

[2020-08-28 14:53] snuggie12 commented on #77
Upgraded but without monitoring could be hard to detect so had a few questions. Do you know if you can detect the problem with a new reflected secret or does it have to be an existing one? Is it just secrets or do configmaps work?

I spotted the problem by deleting a secret in a destination namespace so worse comes to worse I can try that but wanted to understand the problem more.

BTW, love the p

[2020-08-28 15:01] winromulus commented on #77
@snuggie12 - Not really easy to reproduce because it's not a reflector issue so much as an API server issue. Reflector is just stuck waiting for a response from kubernetes API server while at the same time k8s does a health check on reflector. So bit of a race there. In the end the health check times out and the pod restarts.

What you can do is monitor the logs (maybe set the log level to Error a

[2020-08-31 13:57] SinHouse commented on #66
Same Issue with cert-manager 0.16.1, kubernetes 1.18.**6** and reflector 5.3.1. It fails with cert-manager 0.15.2 too.

I have another kubernetes cluster with version 1.18.**8** and it works well with the 5.2.x and 5.3.x reflector versions.

Reflector 5.1.44 it works well with kubernetes 1.18.**6** (rancher).

[2020-08-31 21:31] jtackaberry commented on #66
@SinHouse do you have any Certificate resources created in the cluster(s) where it's failing?  I ran into this as well but found the issue went away once I created a Certificate.

[2020-09-01 07:35] SinHouse commented on #66
Hi @jtackaberry,

Yes, two clusters have the same certs because are clean installations :)

They have a kube-system/serving-ca and a private root ca used as cert-manager Cluster Issuer.

[2020-09-10 02:31] #76 closed

[2020-09-11 21:53] #77 closed

[2020-09-17 13:54] samedguener opened #88 "kubernetes-reflector stops reflecting"
Hi all,

I am currently using kubernetes-reflector with version `5.3.16` on Kubernetes `1.18.5`. I have a namespace, where I manage secrets with Terraform and replicate those secrets into respective service namespaces.

In the beginning the reflector manages to reflect the secrets, but after some while it stops reflecting it.
These are the last logs, another deployment won't trigger reflector to r

[2020-09-17 14:54] winromulus commented on #88
Hi @samedguener - The `reflector.v1.k8s.emberstack.com/reflected-version: ""` annotation needs to go on the target. It keeps track of which certificate version was reflected. If you need it to reflect after each deployment make sure that annotation is included in your help chart so it overrides the annotation set by reflector.

[2020-09-18 07:47] samedguener commented on #88
@winromulus This problem persists also for secrets, which do not have this label. But in any case I have removed the label. Once I restart reflector it is able to reflect it, after some time not.

I assume that this is a bug.

[2020-09-18 08:35] winromulus commented on #88
@samedguener - So the source secret changes but it does not propagate to the targets? Can you join the Slack workspace (link in README) so you can share more logs?

[2020-09-18 08:43] aeimer opened #89 "Reflector crashing when cert-manager is not installed"
I just installed:

[code]

with

[code]

the pod now always crahes with:

[code]

I use the reflector to copy manually added tls-secrets by auto-mirroring.
Is this a config error or some bug?

The exakt same deployment works on another cluster which uses `Certificate` just perfect.

[2020-09-18 08:47] winromulus commented on #89
@aeimer - Are you running cert-manager? If yes, what version?
Also are you running on a hosted kubernetes platform (AKS, GKE etc.)?

[2020-09-18 08:50] aeimer commented on #89
So both envs are on Azure AKS. The one which works is with Cert-Manager 1.0.1. The non working has no cert-manager installed.

[2020-09-18 10:44] winromulus commented on #89
@aeimer got it. I'll test this tomorrow with no cert-manager. Looks like a bug not covered when no cert-manager is installed.

[2020-09-24 07:08] aeimer commented on #89
@winromulus Can I support you in the debugging process?

[2020-09-24 19:59] winromulus commented on #89
@aeimer - Found the issue. Basically there are two parts. One is if cert-manager is not installed entirely, getting the CRD versions fault the service. The second is that even if the CRDs are installed, querying for certificates if there are none will not receive anything and will timeout. I have a bit more work to be done at the second part (working on this in the evenings).

[2020-09-26 12:51] aeimer commented on #89
@winromulus - I see thank you for working :) Im not firm with dotnet so I can't help you. But if you need any sort of support tell me.

[2020-09-26 21:24] #89 closed

[2020-09-26 21:25] #88 closed

[2020-09-26 21:27] winromulus commented on #89
@aeimer - Please try the latest version. It should now work even if cert-manager is not installed or uninstalled. Please reopen the issue if this is still a problem. You can also join our Slack channel (link in README) if you want to discuss this further or have additional problems with the new version.
Thanks for your patience on this.

[2020-10-01 07:45] aeimer commented on #89
@winromulus Currently I deployed `helm.sh/chart: reflector-5.4.1` to a cluster _WITH_ cert-manager `1.0.1`. Seems to work, no errors so far. I'll update you if I have deployed it to the _NON_ cert-manager clusters.

[2020-10-03 22:02] tvvignesh opened #96 "[Enhancement] Cert-manager ingress resources"
Hi. I have setup Cert Manager to do TLS using this: https://cert-manager.io/docs/usage/ingress/ where I annotate the ingress and cert manager automatically creates the Certificate and secrets for me and it works well without issues.

Now, I wanted to mirror the created secret to different namespaces with reflector but I am not sure how to annotate an ingress resource with reflector (the README tal

[2020-10-07 07:49] winromulus commented on #96
@tvvignesh - Ingress resources are not supported for now. One thing you can do is use a certificate and point the ingress to the certificate's secret.

I'll give ingress resources another try this weekend. In the meantime you can use the above workaround.

[2020-10-22 03:01] #96 closed

[2020-10-22 11:26] aeimer commented on #89
@winromulus I just installed it to a cluster _without_ cert-manager, the pod does not crash. I use version `5.4.7` in that env. Thank you for fixing the bug!

[2020-10-27 11:03] jwierzbo opened #108 "[Improvement] Improve performance with large number of secrets/configmaps. Strain on kube-apiserver"
On our test cluster we have 2500 Secrets and 4000 ConfigMaps objects.
Once kubernetes-reflector has been installed/started, **kube-apiserver** needs many times more resources then before:
![kube API drain](https://user-images.githubusercontent.com/2726393/97292685-d9c34900-184b-11eb-9055-73ac8def7711.png)

In the logs of kube-apiserver I've observed tons of requests from kubernetes-reflector.
Also

[2020-10-27 20:36] winromulus commented on #108
@jwierzbo what version of reflector are you using? Normally reflector should be limited to 256MB max (in the default chart)
As for limiting reflector there are no options right now, but I can put that on my list for this or next weekend.

[2020-10-27 20:55] jwierzbo commented on #108
I'm using newest version 5.4.17.

I've tested it also on different, smaller cluster with 400 Secrets and 100 ConfigMaps and in that case 1GB of memory was sufficient

[2020-11-10 13:34] dberuben opened #121 "reflector is not recreating secrets anymore"
Hi,

I had OutOfMemory so i decided to increase the memory limits to 1024Mi but since nothing works has expected, even more secrets are created after a couples of minutes, or even not created. i have a couple of errors to share but nothing much.
Any idea?

Timetstamp problem!

`2020-11-10 13:12:51.154 +00:00 [INF] (ES.Kubernetes.Reflector.Secrets.SecretMirror) Created reflection Secret for reflect

[2020-11-10 13:38] dberuben commented on #121
e.g when it takes a couple of minutes
all dockerconfigjson and Opaque should be reflected at the same time

[2020-11-10 14:22] dberuben commented on #121
I found the issue ... something was blocking the controle plane :D

[2020-11-10 14:22] #121 closed

[2020-11-12 09:13] #108 closed

[2020-12-03 05:43] razvvan commented on #121
@dberuben can you share some more details on what was blocking? I'm seeing the same issue

[2020-12-03 16:43] k-ayache commented on #108
hi,
I have exactly the same issue with the same version 5.4.17, can someone give more details please about that

[2020-12-20 23:29] stv0g commented on #108
Me too

[2021-01-14 14:12] gpsa opened #138 "Reflector annotations disappearing on source secrets"
I've followed these instructions:

1. Annotate the source secret or configmap
Add reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
Add reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "<list>"
2. reflector.v1.k8s.emberstack.com/reflects: "<source namespace>/<source name>" to the destination secret.

It reflected the configurations to the destination secret, but the annotati

[2021-01-20 16:37] mirkoszy commented on #77
Hello,

I am facing with the same issue. Reflector version build-5.4.38, the newest released.

I have pretty big cluster, dozens of nodes, hundreds of namespaces, hundreds of secrets. I am using reflector with cert manager. I would like to share certificate with all prefixed namespaces (eg. dev-* namespaces). It started to work in my POC when had only one namespace added in secret annotation. Sinc

[2021-01-30 10:36] #138 closed

[2021-02-10 04:20] snuggie12 commented on #78
Can this be re-opened?

[2021-02-17 17:03] sdandamudi5c commented on #89
@aeimer - Currently I am using v5.4.17 version of reflector but I am still facing this issue and we are not using cert-manager also. Can you please look at the below error suggest me a solution.
```Error: 2021-02-09 01:16:42.453 +00:00 [ERR] (ES.Kubernetes.Reflector.CertManager.CertManagerMonitor) Exception occurred while processing `cert-manager` discovery
Microsoft.Rest.HttpOperationException: O

[2021-02-17 19:48] dsarath2205 opened #150 "Secrets not getting created on new namespaces."
Consider a situation where I have deployed reflector 4 days back and created a namespace after two days. The reflector is only copying secrets to the namespaces that are created 4 days back but it is not performing any action on the namespace which was created two days back.

Can you please let me how I can configure reflector in a way so that it can copy secrets to the namespaces which are create

[2021-02-18 20:59] martinmike2 opened #152 "Flux deployment automation complaining about missing manifest"
ts=2021-02-18T20:56:51.638688733Z caller=repocachemanager.go:223 component=warmer canonical_name=index.docker.io/emberstack/kubernetes-reflector auth={map[]} warn="manifest for tag build-5.1.2 missing in repository emberstack/kubernetes-reflector" impact="flux will fail to auto-release workloads with matching images, ask the repository administrator to fix the inconsistency"

[2021-02-28 01:51] snuggie12 commented on #78
Not sure if I can unstale this, but...bump?

[2021-03-10 18:58] cwrau commented on #108
We're having the same problem, APIServer using more than 2 Cores and more than 200MiB/s traffic

Without reflector, it's using 0.5 Cores and 25MiB/s

Our cluster is maybe medium size

[2021-03-29 04:05] snuggie12 commented on #78
Bumping to remove stale

[2021-03-30 19:28] onedr0p opened #166 "Reflector creates cert in another namespace then complains it didn't create it"
1) Deployed Reflector
2) Added annotation to my cert-manager `Certificate`
3) Logs show it is not able to update because Reloader thinks it didn't create it.

[code]

[2021-03-30 19:48] onedr0p commented on #166
Renewed by cert and the issue went away kthxbye

[2021-03-30 19:48] #166 closed

[2021-04-09 12:29] sdurrheimer commented on #150
Seems a have a similar issue with random new namespaces not getting the reflected secrets. Restarting the reflector solves the issue temporarily.

[2021-05-17 11:50] icehaunter commented on #150
I've also encountered the exact same issue unfortunately. At some point Refector just stopped  doing its job for new deployments to new namespaces

[2021-05-23 22:24] hi117 opened #182 "V1Namespace watcher Faulted"
I'm getting this error after installing from helm on kubernetes version 1.21:

[code]

I assume its something to do with my version being newer than most software supports.

[2021-05-28 19:21] maunavarro opened #186 "Limit the source namespace for a Secret or ConfigMap"
Would it be possible to limit the source Secret or ConfigMap used by the reflector to a namespace? For example, only want the reflector to copy a source Secret to other namespaces **ONLY** if it comes from a specific namespace.

This would be for security reasons as you wouldn't want any user with access to a namespace to apply the correct annotations and copy those secrets to other namespaces (sp

[2021-06-01 13:43] aeimer opened #187 "reflector going OOM caused by spiky behaviour"
Hi guys,

my reflector pod just exited hard due to an out-of-memory event.
There are also regular errors popping up in the log.

Instana event:
![grafik](https://user-images.githubusercontent.com/25035182/120332773-5ab95600-c2ef-11eb-9571-28589dd1f012.png)

Instana pod details:
![grafik](https://user-images.githubusercontent.com/25035182/120332905-76bcf780-c2ef-11eb-985d-716a4b96749f.png)

Logs:
!

[2021-06-03 20:34] #152 closed

[2021-06-04 09:13] icehaunter commented on #150
Issue persists, no stale please

[2021-06-07 22:21] snuggie12 commented on #78
Bumping to remove stale

[2021-06-11 00:37] #182 closed

[2021-06-11 19:09] aeimer commented on #187
@winromulus can you have a look into? What can I do about it?

[2021-06-17 10:22] sdurrheimer commented on #150
bump

[2021-06-19 05:43] aeimer commented on #187
/nostale

On Sat, 19 Jun 2021, 01:48 stale[bot], ***@***.***> wrote:

[2021-06-19 08:02] #186 closed

[2021-06-21 04:04] snuggie12 commented on #78
Bumping to remove stale

[2021-06-21 19:13] scarby opened #191 "Expanded Letsencrypt certificate chain breaks kubernetes-reflector"
As mentioned [here](https://community.letsencrypt.org/t/providing-a-longer-certificate-chain-by-default/148738) of may 4th letsencrypt increased the size of their certificate chain and are now including 3 certificates rather than 2.

This causes the reflector to fail when watching the secret and never update secrets in other namespaces.

In this case this is evidenced by the following error messag

[2021-06-21 19:20] scarby commented on #187
@aeimer Are you using the reflector to reflect certificates from LetsEncrypt?

[2021-06-21 21:35] aeimer commented on #187
@scarby Yes, I actually do. Maybe #191 is the cause for this issue. Good point.

[2021-06-29 18:33] brokenjacobs commented on #191
I'm also interested in a fix here.

[2021-06-30 03:40] snuggie12 commented on #78
Bumping to remove stale

[2021-06-30 07:36] aeimer commented on #187
@klimisa is there any chance that you can have a look into this issue?

[2021-07-07 12:30] LaurentOliva opened #194 "Error at startup"
Hello,

we're facing the following errors when we want to start Reflector :

[code]

We've been using the Reflector for one year now and didn't face such an issue.
We decided two months ago to scale down Reflector because our Kubernetes Cluster is stable, so this morning we wanted to restart Reflector and we faced the errors i wrote in the issue.

May you help us ? Thnaks in advance for the help y

[2021-07-08 08:57] #150 closed

[2021-07-08 11:24] xbglowx commented on #78
Bump to remove stale.

[2021-07-08 20:43] brokenjacobs commented on #187
Is the issue just the memory limit? Or is there some larger issue at play here causing a problem?

[2021-07-09 10:08] aeimer commented on #187
@brokenjacobs AFAIK everyhting seems to work. We have cert-manager with LE running.

[2021-07-16 12:46] #191 closed

[2021-07-16 13:37] aeimer commented on #187
no stale. Problem seems to persist

[2021-07-16 14:29] xbglowx commented on #78
This is a fun game to play.

[2021-07-23 23:46] #194 closed

[2021-07-31 22:53] #187 closed

[2021-07-31 22:53] #78 closed

[2021-08-03 14:31] ievgenii-shepeliuk opened #199 "Slack links in README are invalid."
Please fix the links or remove them :)

[2021-08-20 18:52] mshade commented on #108
Us, too - etcd and k8s apiserver get a prohibitive amount of traffic caused by the reflector.

[2021-09-06 20:12] #199 closed

[2021-09-07 06:42] ievgenii-shepeliuk commented on #199
go away, bot !

[2021-09-14 15:11] texasbobs opened #208 "Error at Startup"
We just redeployed version 5.4.17 and randomly seem to be getting this error that prevents the pod from starting.  Any ideas on what to look for or what causes this would be appreciated.

[code]

[2021-09-21 21:22] texasbobs commented on #208
Looking like this is a dead repo at this point.  Anyone still maintaining this?

[2021-10-22 11:39] ehlesp opened #224 "Missing reflector.yaml file on v6 releases"
The `reflector.yaml` manifest file usually found with each release is missing in both the **v6.0.16** and the **v6.0.17** releases, rendering impossible the manual deployment of Reflector with `kubectl`.

[2021-10-22 18:24] #224 closed, assigned to winromulus

[2021-10-23 09:22] Eagleman7 opened #225 "Reflector not reflecting cert-manager certificates to namespaces"
With this version 6.0.18 of emberstack/kubernetes-reflector I am not seeing it copy the certificates to the other namespaces. I am using v1.22.2 of kubernetes.

cert-manager config looks like:
[code]

This is what describe looks like:

[code]

However the namespaces public and home do not contain the certificate after I restarted the reflector pod:

[code]

Pod logs of reflector stay rather empty:

[2021-10-23 11:24] #225 closed, assigned to winromulus

[2021-11-08 16:12] audunsol opened #228 "Watching for events stops working after ~10 min stale time"
Hello,

We are using the reflector for copying secrets into dynamically created namespaces (for review apps in a GitOps-setup) following a naming pattern, so we want it to trigger as soon as possible upon newly created namespaces (and/or of course changes to the source secrets).

Upgraded from 5.4.17 => 6.0.21 on Nov 5 via helm install in our AKS cluster, by just

[code]
(This was in order to get

[2021-11-08 16:28] winromulus commented on #228
Hi @audunsol

You have a very weird scenario. Let me explain why:
Reflector does not query/scan for changes. It subscribes to the kube-api web socket channel and gets notified by k8s  when a change occurs. Kubernetes SHOULD issue the change event as soon as the resource change occurs. If it gets delayed by 24 mins it means that there might be an issue with you control-plane (old "master") nodes wh

[2021-11-08 21:03] audunsol commented on #228
Thanks for your swift reply @winromulus!

I might get around to upgrade the cluster at some point, and I can report back to you then. But 1.19 is not _that_ old, and the previous versions of the reflector has survived quite a few older versions than that as well, here before upgrading it to v6.

I have sifted through metrics in Azure and in Grafana now, but I could not spot anything unusual.

Even

[2021-11-09 11:13] winromulus commented on #228
@audunsol yup, that's the exact issue I've seen in the past, it's just the version of k8s that I can't confirm (I don't want to influence but I think it was 1.18 and 1.19).
The latest version of reflector was tested with k8s 1.21.2 and newer (on AKS) and that problem was solved (it gets events even after a large period of idle). Reflector is running on a few hundred clusters (reported) and this is

[2021-11-22 13:32] rjhenry opened #235 "Reflector 6.0.29+ crashes on startup."
Running the 6.0.x line of Helm releases, updates from 6.0.21 to 6.0.29 or 6.0.30 crashes:
[code]
No configuration is changed from the Helm charts, and is happening across multiple clusters (microk8s, kubeadm, and AKS clusters).
Currently mitigated by explicitly using the 6.0.21 image with more up-to-date chart versions.

Any advice - or if there's anything I can provide to help troubleshoot - woul

[2021-11-22 13:34] winromulus commented on #235
@rjhenry Investigating the issue. We haven't had any problems just yet.
Let me see if I can reproduce it.
Any particular helm values apart from the defaults?

[2021-11-22 13:57] winromulus commented on #235
Was able to reproduce on a different test cluster. Investigating issue

[2021-11-22 13:59] winromulus commented on #235
Downgraded the releases to pre-release. Thanks for pointing this out.

[2021-11-22 16:28] #235 closed

[2021-11-22 16:56] rjhenry commented on #235
Can confirm, everything is now sorted. Thanks for the quick turnaround @winromulus !

[2021-11-29 16:12] Vad1mo opened #237 "are annotation needed on both ends?"
This is not cristal clear from the documentation.

If I have this annotation set on the secret!

[code]

do I still need to create an empty secret on the target side?

btw. make sure that this controller is listed on https://cert-manager.io/docs/faq/kubed/#syncing-arbitrary-secrets-across-namespaces-using-kubed

[2021-11-29 16:36] winromulus commented on #237
Hi @Vad1mo
If you want secrets to auto-reflect (basically create a secret with the same name) in the allowed auto namespaces, then you don't need to create a target.

If you manually want to create a target (and use a different name from the source), then you need annotations on the source (as you indicated in the issue, without the auto part) in order to allow reflection and on the target in orde

[2021-11-29 21:27] Vad1mo commented on #237
I want that on the target side the secret/configmap is automatically created with the same name and content as on the source side.

Are those the annotation that I need to accomplish my goal?

[code]

[2021-11-29 21:28] winromulus commented on #237
Yup.

[2021-11-29 21:33] Vad1mo commented on #237
Thanks,

somehow it doesn't work then.

So I have this annotation set on a secret, in namepace `customerportal`  and reflector is installed in its own namespace `reflector`.

the reflector is running without any issues. When now cert-manger creates an secret containing the annotations above the secret is not reflected in the namespace `dev-customerportal`

[2021-11-29 21:35] winromulus commented on #237
Sorry, missed something:
Add the following:
reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"

[2021-12-01 10:02] #237 closed

[2021-12-02 22:32] tsalm-pivotal opened #238 "Reflector deletes secrets with the same name with auto mirror creation"
Hi folks,
thank you very much for this amazing project!

A valid secret mirror looks like this:
[code]
A secret with the same name in a different namespace (which is a copy of the mirror secret without the annotations) was deleted by mistake by the reflector.
[code]

Expected behavior: The reflector only deletes secrets it has created / that have the annotations

[2021-12-02 22:40] #228 closed

[2021-12-02 22:42] winromulus commented on #238
Hi @tsalm-pivotal - I'll try to reproduce it during the weekend (not in a state with my dev setup where I can do that immediately).
If you can reproduce the issue, can you set `configuration.logging.minimumLevel` to `Verbose` and attach the logs? Of course, if you don't have a lot of secrets and nothing confidential please (reflector does not log secret data, just names).

[2021-12-03 02:09] scarby opened #239 "Reflector seems to hang for long periods of time"
Noticed recently that our certificates sometimes take up to 30 minutes to reflect to new namespaces, yet sometimes this happens instantly.

As an example of the happy path:
[code]
logs:
[code]

this one took around a second

the unhappy path:
[code]

logs:
[code]

still going as of `Fri Dec  3 02:08:12 UTC 2021`

note - all cert creation at this point will stall at this point. It will then catch u

[2021-12-05 19:58] tsalm-pivotal commented on #238
Here are the relevant log entries:
[code]

[2021-12-05 20:22] tsalm-pivotal commented on #238
For me it looks like the code here is deleting any secret with the name of the reflected one that is not in an auto enabled namespace. Additionally it should be checked whether the annotations like `reflector.v1.k8s.emberstack.com/reflects` are present.
https://github.com/emberstack/kubernetes-reflector/blob/5d80de4ad8e88f1a2ff85a30c73aae5a787fc46b/src/ES.Kubernetes.Reflector/Core/Mirroring/Resour

[2021-12-06 09:33] Tomasz-Kluczkowski commented on #239
Any ideas about this one? If this happens all the time, it pretty much means I cannot use reflector, which would be really sad :(.

[2021-12-06 09:42] winromulus commented on #239
hi
As mentioned in previous issues, this is not a reflector but k8s issue.
Basically k8s had a bug in older (not that old, but older) versions where events were not pushed by the API server. In 1.21+ it was fixed.
Reflector relies on those events to be pushed (it does not scrape). What you're seeing as "hanging" is basically the API server not sending anything, then the connection closes (idle) an

[2021-12-06 12:29] Tomasz-Kluczkowski commented on #239
Many thx for coming back on this!
I have upgrade of our clusters scheduled so will report before/after.

On 6 Dec 2021, at 09:42, Romeo Dumitrescu ***@***.***> wrote:

﻿

hi
As mentioned in previous issues, this is not a reflector but k8s issue.
Basically k8s had a bug in older (not that old, but older) versions where events were not pushed by the API server. In 1.21+ it was fixed.
Reflector relie

[2021-12-14 11:25] sdurrheimer opened #243 "Settings for more frequent resources checks"
Hello,

First of all, thank you for this piece of tech, the `cert-manager` support is awesome.

Is there a setting/ENVVARs that would let us change the Watcher timer for more frequent resources checks?
We have temporary testing environments spawn in our cluster with dedicated namespaces. Sometimes we are hitting a long delay before the reflector picks up the new namespace for secrets mirroring if

[2021-12-14 11:28] winromulus commented on #243
Hi @sdurrheimer

The watchers are instant (react as soon as as a new event is pushed by k8s API server). There's no polling going on.
If you get a delay, that means that k8s pushed the event out late or the watcher is idling (known k8s bug, see #239 )
What version of k8s are you running on?

[2021-12-14 11:29] sdurrheimer commented on #243
We are running k8s 1.19 right now.

[2021-12-14 11:30] winromulus commented on #243
Yup, read #239

[2021-12-14 11:33] sdurrheimer commented on #243
Thank you for your answer.
I wasn't aware the watcher was instant, so didn't think we were hitting the same issue as the one you linked.
Closing this one then.

[2021-12-14 11:33] #243 closed

[2021-12-14 11:39] winromulus commented on #238
thank you @tsalm-pivotal for the fix!

[2021-12-14 11:39] #238 closed

[2021-12-17 20:30] dbpolito opened #244 "Could not update - source does not permit it after upgrade to 6.x"
Seeing a lot of these logs now:

[code]

Interesting that the annotation looks like:

[code]

and the namespace is called `dev-...`

Another interesting fact is that it does work when creating new namespaces (it properly created the secrets)... it seems to sync, but on its scheduler / cron it fails for the existing ones.

[2021-12-17 20:39] winromulus commented on #244
@dbpolito - are those the annotations on the source?
Can you provide an example of exact namespace names and how you defined the source so I can try to reproduce it?
No data from the secret is needed, just the definition.

[2021-12-17 20:45] dbpolito commented on #244
Sure:

this is the source:

[code]

This is the other secret that is not syncing anymore:

[code]

[2021-12-17 21:22] winromulus commented on #244
Thanks for supplying this. I'm in the middle of moving and don't have my dev cluster up. I'll try to set it up during the weekend to try to reproduce this.

[2021-12-19 15:33] winromulus commented on #244
Hi @dbpolito
I tried to reproduce the issue you're facing but I can't get the same results:
[code]

The above are the logs from the reflector since the namespace creation. I set the watcher timeout to 30 seconds to it re-subscribes faster but all pans out.
I think you might have an issue either in regex allowed or something is different on your environment.
Can you try deleting the out-of-sync sec

[2021-12-19 16:57] winromulus opened #246 "Reflector late updates on Kubernetes 1.20 and older (known bug on k8s) and workaround"
Hi,

Due to a number of similar issues, I'm posting this one as a sticky:

On Kubernetes 1.21 and older (up to 1.14 I think) there was an issue with the API server pushing events late or not at all on idle watchers (watchers that have not received any changes). This results in reflector not being aware of changes until the connection times out and the watcher is reset.
Reflector does not poll for

[2021-12-19 16:58] winromulus commented on #239
Closing this as related to #246

[2021-12-19 16:58] #239 closed

[2021-12-25 09:07] pmorch opened #248 "Any workarounds for #246 Reflector late updates on Kubernetes 1.20 and older (known bug on k8s)?"
I understand that #246 "Reflector late updates on Kubernetes 1.20 and older (known bug on k8s)" isn't something you'll fix. But we're stuck on 1.20 (and older) and upgrading is not yet an option due to internal politics outside my control. Now the question is what workarounds that are possible. At least this works for me:

    kubectl -n kubernetes-reflector rollout restart deployment/kubernetes-r

[2021-12-25 13:00] winromulus commented on #246
Workaround:
I've included in v6.1.16 an option to set the timeout for watchers (the maximum lifetime before reconnecting). Please see the Readme for configuring this value (helm or manually for the vanilla manifests).

From experience k8s 1.20 and older stops sending updates to watchers after 10 minutes. I would suggest setting the timeout to 600 and adjust as needed.
Note: This does not mean that

[2021-12-25 13:02] winromulus commented on #248
Hi

Did some Xmas coding, please see workaround posted in #246 available in version 6.1.16. Please note that this was the only workaround I could think of and with your cluster size it should be okay.

I'm going to close this issue pending discussion in #246

[2021-12-25 13:02] #248 closed

[2022-01-05 23:46] onedr0p opened #250 "Consider pushing container images to Github Container Registry (GHCR)"
Hello,

In order to combat dockerhub's imposed rate limits it would be great too push your Docker images on GHCR as well as dockerhub. It should be a minimal change to push the images to ghcr as it's supported across all GitHub repositories for free.

Thanks!

[2022-01-05 23:47] winromulus commented on #250
@onedr0p - planned but thanks for bringing it up.
I'm scheduling this for the next release.

[2022-01-06 15:10] schwajo commented on #244
Hi,
I'm having this error too, but I think, that's not related to any annotation of secrets. It's an error (typo) in line 222 of file [ResourceMirror.cs](https://github.com/emberstack/kubernetes-reflector/blob/main/src/ES.Kubernetes.Reflector/Core/Mirroring/ResourceMirror.cs#L222)
Instead
`   var source = await TryResourceGet(resourceRef);`
you have to do
`   var source = await TryResourceGet(sour

[2022-01-06 20:51] winromulus commented on #244
@schwajo I think you might be right
If you're facing the same issue, can you create a small sample that reproduces it? It's much easier to hit this if I can correctly reproduce the problem.
I'm going to test this during the weekend (my dev environment is currently down).

[2022-01-07 07:46] schwajo commented on #244
That's relatively easy. Generate a source secret and multipe reflected secrets and restart the reflector pod - the messages show up in the logs. Here my yamls:
`
apiVersion: v1
data:
  test: ""
kind: Secret
metadata:
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: ""
  name: a
  namespace: default
---

[2022-01-09 01:57] jlsalvador opened #251 "System.InvalidOperationException: A task may only be disposed if it is in a completion state (RanToCompletion, Faulted or Canceled)."
|          |                                        |
| -------- | -------------------------------------- |
| K8s      | v1.23.1                                |
| Arch     | x86_64 & aarch64                       |
| Platform | Linux                                  |
| Image    | emberstack/kubernetes-reflector:6.1.16 |

[code]

[2022-01-09 13:18] #244 closed

[2022-01-09 13:22] winromulus commented on #251
Hi @jlsalvador
I think there's something wrong/differently configured with your k8s setup.
From the longs I'm getting that subscriber channels are being closed off after less than 10 seconds by the API server OR you have an unstable network between the node hosting reflector and the control-plane nodes.
Can you provide more details into your setup? Is this on-prem/cloud hosted etc?

I upgraded my

[2022-01-09 13:24] winromulus commented on #251
Also can you provide the kubectl describe logs for the pod (specifically the bottom part for events). It might be that the pod gets killed for some reason (resources available or health/readiness checks).

[2022-01-09 13:28] jlsalvador commented on #251
Of course!

[code]

[2022-01-09 13:32] winromulus commented on #251
Okay so the problem is clearly from the health probes (see Events). Basically k8s sends a kill signal to the pod.
Are you installing reflector with helm or manifests?

[2022-01-09 13:32] jlsalvador commented on #251
Helm.

[2022-01-09 13:36] jlsalvador commented on #251
Yes!
You're right. After remove the probes, everything works correctly.
I'm going to set the Values.yaml livenessProbe.initialDelaySeconds. Thanks again @winromulus !

[2022-01-09 13:36] #251 closed

[2022-01-09 13:39] jlsalvador commented on #251
@winromulus What do you think about include a `startupProbe` to the https://github.com/emberstack/kubernetes-reflector/blob/main/src/helm/reflector/templates/deployment.yaml ?

[2022-01-09 13:42] winromulus commented on #251
@jlsalvador if you don't mind adding it, I'd be more than happy to review.
It will need helm checks to support k8s api version
I'm curious though why there's such a startup delay on your config (is this a low-end machine like a raspberry PI or something?)

[2022-01-09 13:47] jlsalvador commented on #251
I take your word! (expect from me a PR ASAP).
Yes, I'm currently testing extreme conditions (network, storage, etc) for different apps. This instance has a deliberately extreme slow storage (4Mb/s RW).

[2022-01-09 13:49] winromulus commented on #251
Hmm, weird that it affected probes (maybe kubelet had delays in writing logs or something).

[2022-01-12 17:14] Vad1mo opened #256 "[Bug] Reflector cleanup of auto-mirrors results in false-positives for same-name certs in different namespaces"
We are running reflector to copy secrets with certs from one namespace to another.

What we actually see is that reflector (version 6.0.42) is deleting demo and prod source secrets.

we have the following setups:

k8s Namespaces:

- dev (contains secret with cert)
- dev-ui (destination of cert)
---
- demo (contains secret with cert)
- demo-ui (destination of cert)
---
- prod
- pord-ui

Each secret

[2022-01-12 17:49] winromulus commented on #256
@Vad1mo can you provide the logs from reflector please?

[2022-01-12 21:57] Vad1mo commented on #256
there was just one line entry:

`2022-01-12 16:52:43.638 +00:00 [INF] (ES.Kubernetes.Reflector.Core.SecretMirror) Auto-reflected dev/ingress-cert where permitted. Created 0 - Updated 0 - Deleted 2 - Validated 1.`

The result was that prod and demo secrets were deleted

[2022-01-12 22:12] Vad1mo commented on #256
Doesn't my issue sound similar to https://github.com/emberstack/kubernetes-reflector/issues/238?

[2022-01-12 22:30] winromulus commented on #256
@Vad1mo yes but your issue is very restrictive
Can you give me a step by step guide on how to reproduce this and sample empty secrets?
I'm trying to reproduce this and am currently failing (it just creates the secrets in the -ui namespaces)

[2022-01-12 22:33] winromulus commented on #256
Actually I know why and this is a bug (in theory)
Can you name the certs differently for the source namespaces? like cert-dev etc
Until I figure out a way to solve conflicts for auto-reflections

[2022-01-12 22:41] Vad1mo commented on #256
Yes, all certs have the same name but different namespace, I'll updated now to `6.1.23`. it looks like that the certs aren't deleted at least.

[2022-01-12 22:54] winromulus commented on #256
Oh, different version (misread). Are the certs behaving correctly now?

[2022-01-13 08:12] Vad1mo commented on #256
It seems now to work with same secret name  with 6.1.23

[code]

[2022-01-13 09:16] winromulus commented on #256
@Vad1mo seems this is no longer a problem. Can we close the issue?

[2022-01-13 15:12] #256 closed

[2022-01-14 21:20] jarett-cyxtera opened #257 "Feature Request: Reflect object labels"
Hello,

Would it be possible to reflect the labels from the source secrets/configmaps along with the data? I'd try to add this feature myself, but I'm not at all familiar with C#.

Thanks!

[2022-01-14 21:48] winromulus commented on #257
That's a very interesting but also dangerous request :)

It would have to be a separate flag entirely because labels are used in lookups and having this enabled by default is VERY problematic.

But nice feature and I'll add it as soon as I can.

[2022-01-14 22:03] jarett-cyxtera commented on #257
Understood - thanks!

Our use cases:
* We have some services that use labels to dynamically select multiple secrets.
* We're using Argo CD, and have found that mirrored secrets are always identified as orphaned resources even though the source is labeled appropriately.

[2022-02-14 15:14] shdwlkr commented on #246
Hello!
Still have this issue on k8s 1.23.x, reflector sometimes doesn' reflect a secret, it can be fixed only by restarting the deployment.
Any fixes on that?

[2022-02-14 18:56] winromulus commented on #246
@shdwlkr can you post the logs and sample secrets for it? We're running a lot of clusters on 1.23.x and have not faced any issues so far

[2022-02-15 02:52] Timothy-Dement opened #264 "Certificate Secret Reflection Error: "Coud not update ns/secret - Source ns/secret does not permit it""
# Overview

I'm attempting to use `reflector` to mirror a certificate secret between namespaces, but getting the following error message:

[code]

References:
- https://github.com/emberstack/kubernetes-reflector#cert-manager-support
- https://cert-manager.io/docs/faq/sync-secrets/

I'm using `reflector` `6.1.23` (latest) and:

[code]

# Error Replication

I installed `reflector` with the following

[2022-02-15 03:16] Timothy-Dement commented on #264
🤔 It seems the `reflection-auto-enabled` isn't working for me either, if I change the annotations for the `Certificate` to:

[code]

I would expect to see the `ca-certificate` secret in `sample-namespace-one` and `sample-namespace-two`, but only have the former:

[code]

[2022-02-15 04:09] Timothy-Dement commented on #264
Apologies — disregard above — the version of `cert-manager` I had installed was quite out-of-date.

[2022-02-15 04:09] #264 closed

[2022-02-25 21:36] scarby opened #266 "Possible bug: Reflector does not reflect some secrets"
# Issue

After spinning up a new GKE cluster `v1.21.6-gke.1503` and installing cert-manager and reflector `6.1.23` i initially notice that the secret created by cert manager hasn't been reflected into the default namespace (it has the same config as our other cluster where this does work).

# Debugging So far

checked the log - didn't see anything useful - only entries like
[code]

Then wondered i

[2022-03-10 18:12] geoffreytran opened #268 "Helm chart should support priorityClassName for pod priority"
Helm chart should support the ability to specify the k8s priorityClassName to ensure that on deployment the proper priority of pods can be scheduled.

[2022-03-10 18:13] winromulus commented on #268
Hi @geoffreytran

Thanks for registering this. If you can contribute this via a PR it would be highly appreciated,

[2022-03-18 01:05] shixuyue commented on #268
#270

[2022-03-20 08:43] andrewsharpe opened #271 "How does one trigger reflection other than the "auto" mechanism?"
https://github.com/EmberStack/kubernetes-reflector#automatic-mirror-creation

This works as it says on the tin, and the wording also implies there's an alternate "manual" method for reflection/mirroring.

I'm just wondering how I would trigger mirroring of something _without_ using the "auto" mechanism?

[2022-03-21 07:26] winromulus commented on #271
Hi @andrewsharpe

Apart from auto, you can manually indicate which new secret reflects a source secret. Have a look at the README as  there is an example on how to accomplish this using annotations (indicating the source).

[2022-03-21 07:26] #271 closed

[2022-03-21 07:29] winromulus commented on #266
@scarby can you provide a sample of the definition for one of the source secrets please? Strip away any content that is confidential but please keep the keys in order to try to reproduce it locally.
There might be something in the structure of the secret preventing reflection.
Also did you modify the RBAC of reflector from the default (i.e. something preventing access to write to default or test n

[2022-03-21 08:14] #268 closed

[2022-03-28 12:03] conradreisch opened #273 "Container start fails in k3d on Apple MacBook"
I'm trying to use relector on a Apple MacBook with M1Pro chip in a K3d cluster with Colima.
Does anyone know a reason for this? Since, the image is ARM64 ready, it should be unrelated to the architecture, right?

[code]

[2022-03-28 12:33] winromulus commented on #273
Hi @conradreisch . To be honest I'm not sure why this might happen. The image was tested on ARM64 on multiple platforms, so it might be something with the underlying k8s cluster. I have the image running now on a few Raspberry PIs on ARM64 and they're working fine.

[2022-03-28 12:53] conradreisch commented on #273
Hi @winromulus, thanks for the fast reply. The issue might be with [colima](https://github.com/abiosoft/colima), which is the docker runtime below k3d.
I'm trying to use microk8s instead and will post an update.

[2022-03-28 14:35] conradreisch commented on #273
@winromulus
Update: I failed to get to get microk8s running. Therefore, I temporarily used docker-desktop.
Result: reflector container is still crashing. Therefore, I'm more confident that the issue is related to the reflector image in combination with the MacBook.

System is:
- Mac OS Monterey (12.3)
- Chip Apple M1 Pro

Please let me know in case I can support with further information.

[2022-03-28 17:31] conradreisch commented on #273
@winromulus
Update No.2: reflector also fails on minikube with docker driver.
Result: It is most likely not: colima, k3d, docker or minikube

[2022-03-30 10:34] conradreisch commented on #273
Update No.3:
It seems that the issue is related to the qemu virtual environment (which is used for docker on Mac).
So, unlike my initial thought, it is actually the AMD64 image that fails within the qemu x86_64 environment on ARM64.

I'm closing this issue, since the described setup is not a concern for the reflector dev team.
Thanks for your support!

[2022-03-30 10:34] #273 closed

[2022-04-08 14:43] fzyzcjy opened #276 "Allow reflecting without annotating the source secret?"
Hi thanks for the lib! The case is that, I cannot control the source secret (which is auto-generated by elastic operator, see https://discuss.elastic.co/t/disable-apm-token-or-add-custom-annotations-to-it/301981). But I need to reflect it into another namespace. Thus, I would appreciate it if this operator can allow reflecting without annotating the source secret, and only annotating the target se

[2022-04-16 04:45] onedr0p commented on #250
Not stale

[2022-04-21 07:57] mvoitko commented on #257
Not stale

[2022-04-21 08:00] mvoitko opened #279 "Is it possible to use the k8s reflector with External Secrets?"
Is it possible to use the k8s reflector with [External Secrets](https://github.com/external-secrets/external-secrets)?

[2022-04-25 06:57] fzyzcjy commented on #276
not

[2022-04-30 05:09] #246 closed

[2022-04-30 05:09] #266 closed

[2022-04-30 10:55] onedr0p commented on #250
Not stale, any update @winromulus ? Thanks.

[2022-05-04 15:10] redx177 opened #282 "Reflection is to slow. Pod goes into ImagePullBackOff"
I am using Gitops and on pull requests of my app I create a new environment to test the PR. I will create a namespace and the required pods. But until the kubernetes-reflector replicated the imagepullsecret, the pods already went into ImagePullBackOff state.

kubernetes-reflector logs show:
[code]
As I see it, the reflector tried to reflect secrets at 12:38, 13:37 and 14:30. So in the worst case,

[2022-05-04 16:27] winromulus commented on #282
Hi @redx177

Reflector does not poll but listens to events from k8s to instantly process reflections. The session in the logs show when a subscription has started and when it closes (k8s closes event subscriptions periodically). From the logs you have posted, the event about the new namespace came in at `14:30:02.562` and was created at `14:30:02.600`
I'm not sure what happened to the scheduling,

[2022-05-04 16:30] winromulus commented on #276
hi @fzyzcjy
We cannot support this since this is a major security risk (reflector relies on annotations for permissions otherwise anyone would create a target secret, annotate it to reflect a source secret from a namespace where they do not have access and get a copy).
This will not be supported unfortunately.  I'm sorry if this breaks what you had planned but even with a feature flag this would b

[2022-05-04 16:30] #276 closed

[2022-05-04 16:31] winromulus commented on #279
I would need to investigate this. I don't have an environment for this.
Can you explain more on how you would see this work?

[2022-05-04 16:32] winromulus commented on #250
@onedr0p still in progress. Did not have yet time for it :(
But it is something desired

[2022-05-04 23:39] fzyzcjy commented on #276
I see. Thank you!

[2022-05-05 11:44] redx177 commented on #282
hm... it seems to not work all the time for me.

Test 1. It first worked instantly when I've tested it before and have written the previous comment.
Test 2. Then I've tested it again and it was slow. See explanation and the log below in this comment.
Test 3. And after that I've tested it again and it worked flawlessly again. See log below in this comment
Test 4. It is back to slow. Explanation bel

[2022-05-06 11:58] Rahulsharma0810 opened #283 "Reflector skipping some namespaces"
I have the below config for the secret.
[code]

My clusters all namespaces.

[code]

[code]

as you can see `argocd` and other few namespaces don't show up in the logs as well there is no secret too.

[2022-05-06 12:03] Rahulsharma0810 commented on #283
on top of it when I try to create a secret manually

```kubectl get secret demo-secret --namespace=cert-manager -o yaml | sed 's/namespace: .\*/namespace: kubernetes-dashboard/' | kubectl apply -f -```

in the logs

[code]

[2022-05-10 11:56] ManuelMueller1st commented on #282
I can observe the same behavior in an AWS EKS cluster with k8s 1.21 and Argo CD. But I have no idea how to debug it.

[2022-05-10 17:52] automaticgiant-ml commented on #78
could you please reopen this?

[2022-05-11 19:10] TaylorChristie commented on #150
I'm still seeing this issue on the latest version (6.1.47). Restarting the pod solves the issue, but I just get the repeated log and no other details
[code]

[2022-05-18 00:29] naseemkullah opened #286 "update base image to debian 11.3"
As per the following trivy scan, there are a few fixable CVEs here, would it be possible to update the base image?

[code]

[2022-05-20 08:33] druesendieb commented on #279
We've used this in the past with KES (the predecessor of what you've linked) by adding the External Secrets annotations to `spec.template.metadata.annotations` in the `ExternalSecret` object. After having a quick look at ESO, try setting this at `spec.target.template.metadata.annotations`

[2022-05-26 14:37] dkarlovi commented on #282
Similar behaviour on AKS, k8s 1.23.5.

1. I have a secret with a wildcard namespace setup
2. I create a new namespace, the secret should end up in there
3. Check the namespace, secret is not there
4. Delete the reflector pod
5. Check the namespace, the secret is now there (was created as expected on startup, meaning the entire setup is correct)
6. Create another test namespace, the secret is there

[2022-05-30 09:19] dkarlovi commented on #282
Sorry for spamming, but I have some logs now.

The namespace was created by Helm at **8:58** UTC:

[code]

The last few logs from the reflector, you can see that it didn't notice the namespace being created, it just sits there (no logs after **8:51**, but checked **after** the namespace was created)

[code]

Now delete the pod, it immediately creates the secrets on startup:

[code]

meaning the se

[2022-06-06 15:46] ryaneorth commented on #186
Any update or thoughts on this @winromulus? Unfortunately, this missing security control is blocking us from using reflector.

[2022-06-15 13:53] israelvaldez commented on #283
I'm also receiving the same behavior, after a while reflector 6.1.47 does not reflect the secrets I had set to replicate to all namespaces.
The below is what I get after I restart the reflector pod, which does get the secrets replicated to the newly added namespaces:
[code]

[2022-06-27 07:46] aeimer opened #292 "[BUG] reflector does not update secrets anymore after some time - restart fixes the problem"
Hi guys,

we are happily using reflector in our clusters.
But after some time the pod is still running, but secrets are not updated/created anymore.
When I restart the deployment the new pod instantly creates or updates the target secrets.
So it does not seem to be a memory leak:
![grafik](https://user-images.githubusercontent.com/25035182/175886305-b17dce43-31b9-480b-b97d-33b1ef948a94.png)
Althou

[2022-07-10 22:28] onedr0p commented on #250
Hi

[2022-07-11 21:39] mateuszdrab opened #295 "Reflector keeps deleting manually mirrored secrets"
I have an issue with reflector where after applying a mirror secret, it will get reflected correctly and then deleted later. I traced the event in the log but I do not understand why this happens.

Log states:
`2022-07-11 20:16:20.993 +00:00 [INF] (ES.Kubernetes.Reflector.Core.SecretMirror) Auto-reflected xxx where permitted. Created 0 - Updated 0 - Deleted 2 - Validated 3.`

The source secret has

[2022-07-21 06:56] JoshuaDodds commented on #292
Hi,

I am encountering the same issue as @aeimer on my cluster.  When the issue occurs all logging stops and the process appears to not be doing anything anymore.   A restart of the deployment or a deletion of the "stuck pod" fixes the issue when the reflector service restarts.   For me on the last freeze the very last line looked like this:

[code]
And then nothing else in the logs... just stuck

[2022-07-22 08:02] RolandOtta commented on #292
facing the same issue.

i believe it is somehow due to broken watchers (maybe due to dropped idle connection by a firewall for example?)

for me the secrets got synced again after the watcher session has been internally closed and restarted.
so i believe setting the `configuration.watcher.timeout` to a low timeout like `60`or `120` seems to be a workaround for that issue.

[2022-07-22 08:48] winromulus commented on #292
The issue is indeed the watchers. I'm working on a new solution to monitor the watchers and restart them if they're dead.
Fallback would be a timeout, but the problem with watcher timeout is that some clusters have thousands of secrets reflected and the watchers may timeout before everything is processed resulting in a performance degradation.

[2022-07-22 09:02] JoshuaDodds commented on #292
Let me know if you need help testing a beta version... i dont have thousands of secrets on my cluster though.  Just a handful that get reflected to 3 other namespaces.

[2022-07-27 12:03] redx177 commented on #282
Am I allowed to push-up this issue?

[2022-08-11 15:30] Findaa opened #298 "Reflector does not reflect key type"
Hello. When working on reflector secrets I wanted to reflect
`type: kubernetes.io/dockerconfigjson`
type of key.

The whole key is getting reflected properly, but the type is set to Opaque. I can't find any previous issue about that one. Also deploying an empty key (to be reflected) is impossible without providing a proper data. We either get an error
`The Secret "name" is invalid: data[.dockercon

[2022-08-13 11:22] onedr0p commented on #250
I've replaced the need to use reflector with kyverno which also does a lot more. I'm going to close this issue as it doesn't seem like something the maintainer cares about or has time to do.

[2022-08-13 11:22] #250 closed

[2022-08-13 11:26] JoshuaDodds commented on #292
Calling attention to this bug again.  Please do not close it.  I am happy to help if needed.

[2022-08-18 00:20] henkejosh commented on #292
Just following up as this problem is causing us quite the headache as well. We're running into the issue on every cluster we're using Reflector on, regardless of watcher timeout length (have tried 120, 60, and 30). We're copying less than 100 secrets per cluster.

Any updates on progress or expected timeline?

Sorry to be annoying - thx for the good work!

[2022-08-19 11:53] udhanMti opened #301 "New replicaset of reflector deployment getting created in every 5 mins (approx.) mystically"
Hi guys,

We are using reflector in our cluster for some time.

reflector version - 5.4.17
Kubernetes version - 1.22

Since two days ago, we are observing that new replica sets getting created in the reflector deployment in every 5 mins (approx.) mystically.

The following events can be seen when we describe one of the replica sets.
[code]

The following events can be seen when we describe the dep

[2022-08-25 09:24] aellwein commented on #298
The same also applies to secrets of type tls, they are getting type "Opaque"...

[2022-09-21 09:41] Tomasz-Kluczkowski commented on #292
Same issue sadly here. Reflecting, literally 1 secret across 7 namespaces only.

[2022-09-30 12:18] mateuszdrab commented on #298
Just noticed this, I've had the same issue with `kubernetes.io/dockerconfigjson`...
Workaround is to specify it in the mirror but then you have to specify a dummy value for `dockerconfigjson` which results in the reflected value being overwritten when the mirror manifest is applied.

[2022-10-02 18:50] pbxqdown commented on #292
Can we add something like a liveness probe that automatically restart reflector pod if it stucks?

[2022-10-04 15:22] aeimer commented on #292
Probably a good quick fix, if the problem cant be fixed nearly soon.

[2022-10-13 14:38] idrissneumann commented on #292
Hi.

It would be nice if we're able through the helmchart to override the livelinessProb.

So I submitted a pr for this purpose: https://github.com/emberstack/kubernetes-reflector/pull/310

[2022-10-17 11:17] DirkDittmarMonday commented on #186
Hi, we're also interested in such a feature... could this ticket changed to "open" again?
We like to have the limitation to certain namespaces for security reasons. We want "reflector" not to see (or look at) *all* namespaces.

[2022-10-19 14:08] f-ld commented on #292
A bit more information not found in previous messages:
- happens on 6.1.47 (very last release at time of writing)
- happened last time when I updated master nodes (so when API server got restarted, likely breaking the watcher).

From experience, in golang services, there is a [RetryWatcher](https://pkg.go.dev/k8s.io/client-go/tools/watch#RetryWatcher). Is there something similar in C# SDK?

[2022-11-02 12:08] Rid commented on #292
For anyone looking for a solution to this, it might be worth using https://github.com/ktsstudio/mirrors until a fix is pushed.

[2022-11-03 18:31] morlando016 opened #313 "Autoreflection of secret failing in a loop: "Source no longer permits reflection""
I am trying to copy a certificate from one namespace to another. It looks like it is initially able to copy over the secret to the other namespace but then it immediately deletes the copied secret and says it no longer permits reflection. It then does this in a loop over and over.
[code]

Looking at the deployed cert, it looks like it is configured to allow auto reflection of the secret. Why is no

[2022-11-07 14:52] rts0101 opened #314 "Security --- Critical CVE in reflector, OpenSSL, GZIP and DPKG vulnerabilities"
Hello,

Our internal AquaSec scan (Trivy as well) found some critical vulnerabilities with OpenSSL, GZIP, and DPKG with kubernetes-reflector 6.1.47.  The Trivy scan on kubernetes-reflector 6.1.48 showed the same issues.  I provided attached screenshots, showing the scans.

A couple questions:

Is there an upcoming release that will fix these issues?

What is best approach of building this image on

[2022-11-09 10:09] idrissneumann commented on #292
I published a workaround based on cronjob here: https://github.com/emberstack/kubernetes-reflector/pull/310

But this seems a more better alternative if you got time to replace reflector by something else:

[2022-11-11 01:14] mr-davidc commented on #150
I'm in a similar boat as @TaylorChristie.

Reflector is running but when cert-manager eventually creates the TLS secret (there is a significant delay since cert-manager takes time to verify the CertificateRequest), Reflector doesn't seem to realise that this new TLS secret has been created and fails to replicate it to a newly created namespace when a deployment occurs.

Restarting the pod does mak

[2022-11-11 06:39] shiyuhang0 opened #316 "Reflector return `invalid status code 'Forbidden'`"
I find secret can not be copied into the new namespace sometimes. But I don‘t know what happened at all.

Does the reflector provide some information to help find the reason? for example, logs?

By the way, the following is the error log I find in reflector pod.
[code]

[2022-11-15 13:45] michalgoldys commented on #150
Up - we got the same situation.

[2022-11-15 14:53] felipenferri opened #317 "[feature-request]Reflector sync annotations and labels"

[2022-11-15 22:22] henkejosh commented on #292
@idrissneumann Thx for the workaround! That's essentially what we've been using as a stop gap - a cronjob that runs and restarts the pod every 10 minutes. It's obviously very inelegant, but it's been working without issue for the past few weeks.

I'm curious for your thoughts - and @Rid 's - for why this `mirrors` solution might be a stronger alternative. From a quick glance at the repo it doesn't

[2022-11-16 07:53] dabdada commented on #292
It might be worth to check if External Secrets Operator can handle the same task. You can define a ClusterSecretStore with a k8s source. might be possible to define the source and target k8s as the same. Not tested yet, but will...

https://external-secrets.io/v0.6.1/provider/kubernetes/

[2022-11-16 10:53] winromulus commented on #316
Those are the logs. The forbidden means that Reflector does not have access to that namespace (in case you modified the RBAC definitions). I'm going to close this issue since this is a permissions issue in a custom scenario, but if you still get this, please reopen and we can debug.
Summary: check the namespace permissions or resource permissions for the reflector service account.

[2022-11-16 10:57] winromulus commented on #317
Duplicate of #257

[2022-11-16 10:57] #317 closed

[2022-11-16 11:00] winromulus commented on #282
The new version (work in progress) should fix this issue.

[2022-11-16 11:19] winromulus commented on #286
New version is coming out with a new base image. Please upgrade to the new version when out. All security issues in base images need to be reported to Microsoft's GitHub repository for aspnet (https://github.com/dotnet/dotnet-docker/issues)

[2022-11-16 11:19] #286 closed

[2022-11-16 11:22] winromulus commented on #298
@Findaa @mateuszdrab can you provide a sample of the source secret?

[2022-11-16 11:24] winromulus commented on #301
This seems to be an auto-scaling issue in your environment. There's nothing for this configured in reflector (should always run as a single instance). This is not something I can help with.

[2022-11-16 11:24] #301 closed

[2022-11-16 11:46] mateuszdrab commented on #298
I think any secret other than opaque will do. The issue is that you can't create an empty tls secret or an empty dockerjsonconfig secret so if you create an opaque one as a placeholder and add the necessary annotation to make reflector act on it, reflector will copy the data but won't be able to change the type of the secret as that is blocked by the api server. A workaround could be to have refle

[2022-11-16 11:48] winromulus commented on #298
This shouldn't be a problem with auto-mirrors (copies created automatically) but it will be a problem with annotated reflections since validation will kick in.

[2022-11-17 07:26] winromulus commented on #286
@naseemkullah if you can help me (I don't have the tooling), can you use your tools to check if mcr.microsoft.com/dotnet/aspnet:7.0 has any CVE please? I'll need to set something up to check for this but reporting will have to go to MS for fixes.

[2022-11-17 08:17] shiyuhang0 commented on #316
I met this error again.

![7da78b78-53de-47c1-9f64-77b7ed9d1a7b](https://user-images.githubusercontent.com/52435083/202389879-bd22b194-a933-45b2-9dbd-759abbf40eef.jpeg)

I don't think it is a totally permissions issue because it succeeds before this error. I am sorry that I don't know how to reproduce this bug. it happens occasionally.

The following are the things I can provide:

we deployed the

[2022-11-17 08:19] shiyuhang0 opened #318 "Reflector return invalid status code 'Forbidden' #316"
described as https://github.com/emberstack/kubernetes-reflector/issues/316.

I open a new issue because I can not reopen the original issue.

[2022-11-17 08:25] winromulus commented on #316
@shiyuhang0 this error occurs if either the namespace is "locked" by something managing permissions or the secret itself.
I'd need to know a lot more about the environment to help you on this.
In summary: Reflector got an update event from k8s and is trying to modify the destination secret but k8s rejects it due to permissions either on the namespace or the secret. It's not something reflector con

[2022-11-17 08:26] #318 closed

[2022-11-17 12:47] naseemkullah commented on #286
@winromulus https://github.com/aquasecurity/trivy is what I used. It's open source. Give it a try. You can use it as a local CLI and/or add it to your ci pipeline.

[2022-11-25 07:51] nerem commented on #282
We also ran into this issue. Any update, when we can expect the fix?
Thank you very much in advance!

[2022-11-29 07:29] mhienle commented on #282
Same issue here, we would highly appreciate a fix being released. Thanks for the great work!